/** {
  margin: 0;
  padding: 0
}

body {
  font: 14px/1.5em Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
  background: #f5f5f5
}*/

.box {
  padding: 15px;
  overflow: hidden;
  max-width: 850px;
  margin: 0 auto
}

.bubble {
  max-width: 250px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: left;
  border-radius: 3px;
  padding: 8px 13px;
  margin: 0 10px
}

.bubble.bubble_default {
  background-color: #fff
}

.bubble:after,
.bubble:before {
  position: absolute;
  top: 12px;
  border: 7px solid transparent;
  content: " "
}

.bubble.left:after,
.bubble.left:before {
  right: 100%
}

.bubble.left:before {
  margin-right: 1px
}

.bubble.left:after,
.bubble.left:before {
  border-right-color: #fff
}

.bubble.right:after,
.bubble.right:before {
  left: 100%
}

.bubble.right:before {
  border-left-color: #000
}

.bubble.right:after {
  border-left-color: #fff
}

.bubble.bubble_primary {
  background-color: #98e165;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98e165), to(#98e165));
  background-image: -webkit-linear-gradient(top, #98e165, #98e165);
  background-image: linear-gradient(180deg, #98e165 0, #98e165);
  border-color: #75bf50
}

.bubble.bubble_primary.left:before {
  border-right-color: #000
}

.bubble.bubble_primary.left:after {
  border-right-color: #98e165
}

.bubble.bubble_primary.right:before {
  border-left-color: #75bf50;
  margin-left: 0
}

.bubble.bubble_primary.right:after {
  border-left-color: #98e165
}

.bubble_hd {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 7px
}

.bubble_cont {
  padding-top: 7px
}

.bubble_cont li {
  overflow: hidden;
  color: #888
}

.bubble_cont .avatar {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 2px
}

.bubble_cont .meta,
.bubble_cont .msg {
  float: left
}

.bubble_cont .msg {
  margin-left: 5px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  height: 1.6em
}

.bubble_cont .time {
  display: none
}

.bubble_cont .list {
  overflow: hidden
}

.bubble.expand li {
  margin-bottom: 15px
}

.bubble.expand .avatar {
  display: none
}

.bubble.expand .meta,
.bubble.expand .msg {
  float: none
}

.bubble.expand .user {
  color: #000
}

.bubble.expand .time {
  float: right;
  color: #888;
  display: block
}

.bubble.expand .msg {
  color: #888;
  width: auto;
  height: auto;
  white-space: normal
}

.message {
  margin-bottom: 20px;
  float: left;
  width: 100%
}

.message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left
}

.message .content {
  overflow: hidden
}

.message.me {
  float: right;
  text-align: right;
  clear: right
}

.message.me .avatar {
  float: right
}

.message.me .content {
  overflow: hidden
}